
.svg-billboard-filter {
  position: absolute;
  width: 0;
  height: 0;
}

.billboard {
  z-index: 5000000;
  min-width: 250px;
  max-width: 700px;

}


.billboard__content {

  position: relative;

  .card-container {
    padding: 3px;
    border-radius: 18px;
    position: relative;
    background: #F2F2F2;
    padding: 25px 30px; /* Aplicamos el padding aquí */
    display: flex;
    flex-direction: column;
    align-items: center;

    .content-text-layer {
      position: relative;
      z-index: 5;
      width: fit-content;
      height: auto;
      font-family: "Dacia Block Extended";
      font-size: 20px;
      font-weight: 700;
      letter-spacing: 0.2px;
      white-space: wrap;
      text-align: center;
      color: #646B52;
    }
    .linea-sep-billboard{
      position: relative;
      margin-top: 10px;
      margin-bottom: 10px;
      background: #000000;
      width: 385px;
      height: 1px;
    }
    .content-text-layer2 {
      position: relative;
      z-index: 5;
      width: fit-content;
      height: auto;
      font-family: "Read";
      font-size: 20px;
      font-weight: 400;
      letter-spacing: 0.2px;
      white-space: wrap;
      text-align: center;
      color: #3E3F40;
    }

  }
}




