@font-face {
  font-family:'Read';
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/read/Read-Regular_V1100.woff2") format("woff2"), url("../fonts/read/Read-Regular_V1100.woff") format("woff");
}

@font-face {
  font-family:'Read';
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/read/Read-Bold_V1100.woff2") format("woff2"), url("../fonts/read/Read-Bold_V1100.woff") format("woff");
}



@font-face {
  font-family: 'Dacia Block Extended';
  src: url("../fonts/dacia-block/DaciaBlockExtended-Light.woff2") format("woff2"), url("../fonts/dacia-block/DaciaBlockExtended-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Dacia Block';
  src: url("../fonts/dacia-block/DaciaBlock-Regular.woff2") format("woff2"), url("../fonts/dacia-block/DaciaBlock-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Dacia Block Extended';
  src: url("../fonts/dacia-block/DaciaBlockExtended-Regular.woff2") format("woff2"), url("../fonts/dacia-block/DaciaBlockExtended-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Dacia Block';
  src: url("../fonts/dacia-block/DaciaBlock-Bold.woff2") format("woff2"), url("../fonts/dacia-block/DaciaBlock-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}



@font-face {
  font-family: 'Dacia Block Extended';
  src: url("../fonts/dacia-block/DaciaBlockExtended-Bold.woff2") format("woff2"), url("../fonts/dacia-block/DaciaBlockExtended-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
