@font-face {
  font-family: "readBeta2 sans-serif";
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/light-v3100-Latin-Cyrillic-fc42da7173de9d2d8168ba258ebc63b3.woff2") format("woff2");
}

@font-face {
  font-family: "readBeta2 sans-serif";
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/medium-v3100-Latin-Cyrillic-8dbe471a2385f12ee5726033886e8a1a.woff2") format("woff2"), url("../fonts/medium-v3100-Latin-Cyrillic-9d408f6af0e07ff76173020aab556233.woff") format("woff");
}



@font-face {
  font-family: 'Dacia Block Extended';
  src: url("../fonts/dacia-block/DaciaBlockExtended-Light.woff2") format("woff2"), url("../fonts/dacia-block/DaciaBlockExtended-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Dacia Block';
  src: url("../fonts/dacia-block/DaciaBlock-Regular.woff2") format("woff2"), url("../fonts/dacia-block/DaciaBlock-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Dacia Block Extended';
  src: url("../fonts/dacia-block/DaciaBlockExtended-Regular.woff2") format("woff2"), url("../fonts/dacia-block/DaciaBlockExtended-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Dacia Block';
  src: url("../fonts/dacia-block/DaciaBlock-Bold.woff2") format("woff2"), url("../fonts/dacia-block/DaciaBlock-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}



@font-face {
  font-family: 'Dacia Block Extended';
  src: url("../fonts/dacia-block/DaciaBlockExtended-Bold.woff2") format("woff2"), url("../fonts/dacia-block/DaciaBlockExtended-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
