.sidebar {
  position: absolute;
  top: 180px;
  right: 22px;
  width: 340px;
  height: 400px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  overflow-y: auto;
  padding: 20px;
  z-index: 3;
  user-select: none;
  h2{
    font-size: 15px;
  }
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar ul li {
  font-size: 12px;
  cursor: pointer;
  padding: 10px 12px;
  border-bottom: 1px solid #1b1b1b;
  transition: background .2s ease;
}
.sidebar ul li:hover { background: #101010; }
.sidebar ul li.selected {
  background: #083047;
  color: #00d9ff;
  font-weight: 600;
}